main{
  .container {
    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 6px 0 3px -4px #ddd, -6px 0 3px -4px #ddd;
  }

  .main-container{
    margin-bottom:-8px;
    margin-top: -8px;
  }

}
