header {
  box-shadow: 2px 2px 2px #ddd;
  overflow: hidden;
  nav.row {
    padding: 1em 0;
    ul.main-navigation {
      display:none;
      padding:0;
      margin:0;
      list-style-type: none;
      padding: 1em 0;
      li {
        display:inline-block;
        color: $svelija-krem;
        font-weight: 800;
        text-transform: uppercase;
        // font-style: italic;
        a {
          @extend %not-link;
          &:hover{
            color: $svelija-krem;
          }
          color: $borda;
          &.active{
            color:$svelija-krem;
          }
        }
      }
      @include breakpoint(xlg){
        display:block;
      }
    }
    .lang{
      position: fixed;
      z-index: 10;
      top: 8em;
      right: 0 !important;
      display: inline-block;
      background-color: #ddd;
      padding: 0;
      padding-right: 1%;
      padding-left: 5px;
      padding-bottom: 2px;
      padding-top: 2px;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      img{
        width: .9em;
        vertical-align: middle;
      }
      a{
        color: $borda;
        font-weight:600;
        &:hover{
          text-decoration:none;
          
        }
      }
      @include breakpoint(xlg){
        position: absolute !important;
        right: -34em !important;
        background-color: transparent;
        top:initial;
        img{
          width: 3.5%;
        }
      }
    }
    .hamburger{
      display:inline-block;
      font-size:2em;
      a{
        color: $borda;
        font-weight:600;
        &:hover{
          text-decoration:none;
        }
      }
      @include breakpoint(xlg){
        display:none;
      }
    }
    img#logo{
      width:7em;
      transition:all 1s ease 0s;
      cursor:pointer;
      &:hover{
        width:8em;
      }
    }

    .custom-showing{
      position:relative;
      border-left:1px solid #fff !important;
      margin-top: -3%;
      @include breakpoint(md){
        margin-top: -2%;
      }
      transition: all .7s ease 0s;
      position: fixed;
      padding:0;
      background-color: $borda;
      border-left:#fff;
      color:#fff;
      z-index: 82;
      right: -33%;
      height: 100%;
      ul.mobile-menu{
        display:block;
        padding:0;
        margin:2% 0;
        list-style-type: none;
        li{
          &.hamburger{
            display:block;
            text-align:center;
            font-size: 1.9em;
            padding: 10% 0%;
          }
          text-transform: capitalize !important;
          a {
            padding: 6% 2%;
            display: block;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold !important;
            @extend %not-link;
            &:hover{
              color: $borda;
              background-color:#fff;
            }
            color:#fff;
            text-align:#fff;
            &.active{
              color:$svelija-krem;
            }
          }
          &.lang-tab{
            width: 100%;
            position: absolute;
            bottom:4%;
            a img{
              width:1.5em;
            }
          }
        }
      }
    }
  }
}
body{
  overflow-x:hidden;
}
.list-group {
  z-index:999;
  a.list-group-item{
    z-index:999;
    text-transform: uppercase;
    text-align:center;
    &:hover{
      background-color: $borda;
      color:#fff;
    }
  }
}