doctype html
head
include ./../../parts/head.pug
  title UPNP - Gallerija
if isProd == 'prod'
  include ./../../parts/header-public-srb.pug
else
  include ./../../parts/header-public-srb-local.pug
main
  .loader
    img(src="../../img/loading.gif", alt="")
  .container.overflow-hidden
    .row
      .col.heading-custom
        h2 Galerija
  .container.main-container.py-3
    .row.gallery
  .container.overflow-hidden
    .row
      .col.heading-custom-reverse
if isProd == 'prod'
  include ./../../parts/footer-public-srb.pug
else
  include ./../../parts/footer-public-srb-local.pug
