doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  link(rel="shortcut icon" href="upnp.ico" type="image/x-icon")
  link(rel="icon" href="upnp.ico" type="image/x-icon")
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.10/css/all.css', integrity='sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg', crossorigin='anonymous')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title UPNP - Donatori i Partneri
if isProd == 'prod'
  include ./../../parts/header-public-srb.pug
else
  include ./../../parts/header-public-srb-local.pug
main
  .container.overflow-hidden
    .row
      .col.heading-custom.overflow-hidden
        h2 DONATORI I PARTNERI
  .container.main-container
    .row.patrions
      .col-md-3.col-4
        img(src='img/1.png' alt='')
      .col-md-3.col-4
        img(src='img/2.png' alt='')
      .col-md-3.col-4
        img(src='img/3.png' alt='')
      .col-md-3.col-4
        img(src='img/4.png' alt='')
      .col-md-3.col-4
        img(src='img/5.png' alt='')
      .col-md-3.col-4
        img(src='img/6.png' alt='')
      .col-md-3.col-4
        img(src='img/7.png' alt='')
      .col-md-3.col-4
        img(src='img/8.png' alt='')
      .col-md-3.col-4
        img(src='img/9.png' alt='')
      .col-md-3.col-4
        img(src='img/10.png' alt='')
      .col-md-3.col-4
        img(src='img/11.png' alt='')
      .col-md-3.col-4
        img(src='img/12.png' alt='')
      .col-md-3.col-4
        img(src='img/13.png' alt='')
      .col-md-3.col-4
        img(src='img/14.png' alt='')
      .col-md-3.col-4
        img(src='img/15.png' alt='')
      .col-md-3.col-4
        img(src='img/16.png' alt='')
      .col-md-3.col-4
        img(src='img/17.png' alt='')
      .col-md-3.col-4
        img(src='img/18.png' alt='')
      .col-md-3.col-4
        img(src='img/19.png' alt='')
      .col-md-3.col-4
        img(src='img/20.png' alt='')
      .col-md-3.col-4
        img(src='img/21.png' alt='')
      .col-md-3.col-4
        img(src='img/22.png' alt='')
      .col-md-3.col-4
        img(src='img/23.png' alt='')
  .container.overflow-hidden
    .row
      .col.heading-custom-reverse
        p.col-md-5.col-12
          | Ukoliko zelite da postanete nas donator/ka i raspitajte se o nacinma da nam se pridruzite, javite na mail adresu
          strong office@udruzenjepsihologanp.org
if isProd == 'prod'
  include ./../../parts/footer-public-srb.pug
else
  include ./../../parts/footer-public-srb-local.pug
