doctype html
head
include ./../../parts/head.pug
  title UPNP - Gallery
if isProd == 'prod'
  include ./../../parts/header-public-eng.pug
else
  include ./../../parts/header-public-eng-local.pug
main
  .loader
    img(src="../../img/loading.gif", alt="")
  .container.overflow-hidden
    .row
      .col.heading-custom
        h2 Gallery
  .container.main-container.py-3
    .row.gallery
  .container.overflow-hidden
    .row
      .col.heading-custom-reverse
if isProd == 'prod'
  include ./../../parts/footer-public-eng.pug
else
  include ./../../parts/footer-public-eng-local.pug