header {
  box-shadow: 2px 2px 2px #ddd;
  overflow: hidden;
  nav.row {
    padding: 1em 0;
    ul {
      padding:0;
      margin:0;
      list-style-type: none;
      padding: 1em 0;
      text-transform: uppercase;
      li {
        display:inline-block;
        color: $svelija-krem;
        font-weight: 800;
        // font-style: italic;
        a {
          @extend %not-link;
          &:hover{
            color: $svelija-krem;
          }
          color: $borda;
        }
      }
      
    }
    .lang{
      position: absolute;
      right: -68%;
      img{
        width: 6%;
      }
      a{
        color: $borda;
        &:hover{
          text-decoration:none;
        }
      }
    }
    img#logo{
      width:52%;
      transition:all 1s ease 0s;
      &:hover{
        transform: rotateX(150deg);
      }
    }
  }
}