doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title UPNP Sponzori
header
  .container
    nav.row
      .col-3.d-flex.align-items-center
        img#logo(src='img/logoupnp.svg' alt="Organization's Logo")
      .col.d-flex.align-items-center.justify-content-end
        ul
          li
            a.active(href='/news') Vesti
          li /
          li
            a(href='/album') Gallerija
main
  .container.main-container.py-3
    .row.news-row-heading.py-2
      .col.title
        p.mb-0
          span Vesti
          button#in-title.btn.btn-default.float-right(onclick="window.location='/news/create'") Kreiraj Vest
    |       {% for oneNews in news %}
    .row.news-sections
      span.date {{ oneNews.created|date(&quot;M/d/Y&quot;) }}
      .col-6.news-picture
        img(src='{{ oneNews.images.url }}' alt='')
      .col-6
        h4 {{ oneNews.title }}
        p.text-justify
          | {{ oneNews.content|slice(0,70) }}
        p.btn-group-custom
          a.btn.btn-default.btn-custom.btn-info-custom(href='/news/edit/{{ oneNews.id }}' role='button') Edit
          a.btn.btn-default.btn-custom.btn-info-custom(href='/news/{{ oneNews.id }}' role='button') Info
          form(action='/news/delete/{{ oneNews.id }}' method='post')
            button.btn.btn-default.btn-custom.btn-delete-custom(type='submit') Izbrisi
    |       {% endfor %}
footer
  .container
    .row.m-0
      .col
        | Copyrights &copy; ZenShu 2018
      .col.menu.d-flex.justify-content-end
        ul.p-0
          li
            a(href='#') Pocetna
          li
            a(href='#') O nama
          li
            a(href='#') Pitajte nas
          li
            a(href='#') Kontakt
