.main-container {
  box-shadow: 0px 9px 5px #ddd;

  .main-pic{
    max-height: 29em;
    overflow: hidden;
    img{
      width:100%;
      position:relative;
      top:-7em;
    }
    h3{
      background-color:$borda;
      position: absolute;
      padding:5px 5px;
      padding-left:3%;
      padding-right:3%;
      color:#fff;
      left:-2%;
      top:5%;
      z-index:99;
    }
  }
}