header
  .container
    nav.row
      .col-3.d-flex.align-items-center
        img#logo(src='img/logoupnp.svg' alt="Organization's Logo" data-url='/')
      .col.d-flex.align-items-center.justify-content-end
        ul
          li
            a(href='/public/news') Vesti
          li /
          li
            a(href='https://http.cat/404') Projekti
          li /
          li
            a(href='/volunteer') Volonterski Servis
          li /
          li
            a(href='/patreon') Donatori i Partneri
          li /
          li
            a(href='/gallery') Galerija
          li /
          li
            a(href='/aboutus') O nama
          li /
          li
            a(href='/contact') Kontakti