footer
  .container
    .row.m-0
      .col
        | Copyrights &copy; ZenShu 2018
      .col.menu.d-flex.justify-content-end
        ul.p-0
          li
            a(href='/en-landing/en-landing.html') Landing
          li
            a(href='/en-about/en-about.html') About Us
          li
            a(href='/en-gallery/en-gallery.html') Gallery
          li
            a(href='/en-contact/en-contact.html') Contact