footer
  .container
    .row.m-0
      .col
        | Copyrights &copy; ZenShu 2018
      .col.menu.d-flex.justify-content-end
        ul.p-0
          li
            a(href='/en') Landing
          li
            a(href='/en/about') About Us
          li
            a(href='/en/gallery') Gallery
          li
            a(href='/en/contact') Contact