footer
  .container
    .row.m-0
      .col
        | Copyrights &copy; ZenShu 2018
      .col.menu.d-flex.justify-content-end
        ul.p-0
          li
            a(href='/index.html') Pocetna
          li
            a(href='/about/about.html') O nama
          li
            a(href='/gallery/gallery.html') Galerija
          li
            a(href='/contact/contact.html') Kontakt
