footer
  .container
    .row.m-0.flex-wrap-reverse
      .col-md-6.col-12.text-center.text-md-left
        | Copyrights &copy; ZenShu 2018
      .col-md-6.col-12.menu.d-flex.justify-content-md-end.justify-content-center
        ul.p-0
          li
            a(href='/en') Landing
          li
            a(href='/en/about') About Us
          li
            a(href='/en/gallery') Gallery
          li
            a(href='/en/contact') Contact