footer
  .container
    .row.m-0.flex-wrap-reverse
      .col-md-6.col-12.text-center.text-md-left
        | Copyrights &copy; ZenShu 2018
      .col-md-6.col-12.menu.d-flex.justify-content-md-end.justify-content-center
        ul.p-0
          li
            a(href='/') Pocetna
          li
            a(href='/contact') O nama
          li
            a(href='/gallery') Galerija
          li
            a(href='/contact') Kontakt