footer
  .container
    .row.m-0
      .col
        | Copyrights &copy; ZenShu 2018
      .col.menu.d-flex.justify-content-end
        ul.p-0
          li
            a(href='/') Pocetna
          li
            a(href='/contact') O nama
          li
            a(href='/gallery') Galerija
          li
            a(href='/contact') Kontakt