header
  .container
    nav.row
      .col-3.d-flex.align-items-center
        img#logo(src='img/logoupnp.svg' alt="Organization's Logo" data-url='/en')
      .col.d-flex.align-items-center.justify-content-end
        ul
          li
            a(href='/en/public/news') NEWS
          li /
          li
            a(href='https://http.cat/404') PROJECTS
          li /
          li
            a(href='/en/patreon') DONORS AND PARTNERS
          li /
          li
            a(href='/en/gallery') GALLERY
          li /
          li
            a(href='/en/aboutus') ABOUT US
          li /
          li
            a(href='/en/contact') CONTACT
        span.lang
          img(src='img/srb.png' alt='')
          a(href='/') SRB
        span.hamburger
          a(href="#")
            i.fas.fa-bars
      .col-3.custom-showing
        ul.mobile-menu
          li.hamburger
            i.fas.fa-times
          li
            a(href='/en/public/news') News
          li
            a(href='https://http.cat/404') Projects
          li
            a(href='/en/patreon') Donors and Partners
          li
            a(href='/en/gallery') Gallery
          li
            a(href='/en/aboutus') About Us
          li
            a(href='/contact/contact.html') Contact