header
  .container
    nav.row
      .col-3.d-flex.align-items-center
        img#logo(src='img/logoupnp.svg' alt="Organization's Logo" data-url='/')
      .col.d-flex.align-items-center.justify-content-end
        ul
          li
            a(href='/news/news.html') VESTI
          li /
          li
            a(href='https://http.cat/404') PROJEKTI
          li /
          li
            a(href='/volountieer-service/volountieer-service.html') Volonterski Servis
          li /
          li
            a(href='/patreon/patreon.html') Donatori i Partneri
          li /
          li
            a(href='/gallery/gallery.html') Galerija
          li /
          li
            a(href='/about/about.html')  O nama
          li /
          li
            a(href='/contact/contact.html') Kontakti
        span.lang
          img(src='img/eng.png' alt='')
          a(href='/en-landing/en-landing.html') ENG
