header
  .container
    nav.row
      .col-3.d-flex.align-items-center
        img#logo(src='img/logoupnp.svg' alt="Organization's Logo" data-url='/')
      .col.d-flex.align-items-center.justify-content-end
        ul
          li
            a(href='/public/news') Vesti
          li /
          li
            a(href='https://http.cat/404') Projekti
          li /
          li
            a(href='/volunteer') Volonterski Servis
          li /
          li
            a(href='/patreon') Donatori i Partneri
          li /
          li
            a(href='/gallery') Galerija
          li /
          li
            a(href='/aboutus') O nama
          li /
          li
            a(href='/contact') Kontakti
        span.lang
          img(src='img/eng.png' alt='')
          a(href='/en') ENG
        span.hamburger
          a(href="#")
            i.fas.fa-bars
      .col-3.custom-showing
        ul.mobile-menu
          li.hamburger
            i.fas.fa-times
          li
            a(href='/public/news') Vesti
          li
            a(href='https://http.cat/404') Projekti
          li
            a(href='/volunteer') Volonterski Servis
          li
            a(href='/patreon') Donatori i Partneri
          li
            a(href='/gallery') Galerija
          li
            a(href='/aboutus')  O nama
          li
            a(href='/contact') Kontakti