header
  .container
    nav.row
      .col-3.d-flex.align-items-center
        img#logo(src='img/logoupnp.svg' alt="Organization's Logo" data-url='/')
      .col.d-flex.align-items-center.justify-content-end
        ul.main-navigation
          li
            a(href='/news/news.html') VESTI
          li /
          li#proj(data-toggle="tooltip" title="Projects Dropdown")
            a(href='#') PROJEKTI
          li /
          li
            a(href='/volountieer-service/volountieer-service.html') Volonterski Servis
          li /
          li
            a(href='/patreon/patreon.html') Donatori i Partneri
          li /
          li
            a(href='/gallery/gallery.html') Galerija
          li /
          li
            a(href='/about/about.html')  O nama
          li /
          li
            a(href='/contact/contact.html') Kontakti
        span.lang.d-md-block.d-none
          img(src='img/eng.png' alt='')
          a(href='/en-landing/en-landing.html') ENG
        span.hamburger
          a(href="#")
            i.fas.fa-bars
      .col-md-3.col-4.custom-showing
        ul.mobile-menu
          li.hamburger
            i.fas.fa-times
          li
            a(href='/news/news.html') Vesti
          li
            a(href='/projects/projects.html') Projekti
          li
            a(href='/volountieer-service/volountieer-service.html') Volonterski Servis
          li
            a(href='/patreon/patreon.html') Donatori i Partneri
          li
            a(href='/gallery/gallery.html') Galerija
          li
            a(href='/about/about.html')  O nama
          li
            a(href='/contact/contact.html') Kontakti
          li.lang-tab
            a(href='/en-landing/en-landing.html') 
              img(src='img/eng.png' alt='')
              | ENG
            