.about-main {
  background-image: url('../img/logoupnpdugacko.svg');
  background-repeat: no-repeat;
  background-size: 300%;
  background-position-x: -16%;
  background-position-y: 3%;
  box-shadow: 0px 2px 5px #ddd;

  .row {
    background-color: rgba(255, 255, 255, .9);
  }
  .title {
    font-size: 1.6em;
    font-weight: 400;
    font-style: italic;
    color: #fff;
    margin: 3em 0;
    p {
      span {
        position: relative;
        z-index: 9;
      }
    }
    p:before {
      content: '';
      width: 9em;
      height: 1.6em;
      background-color: #4C1B1B;
      display: block;
      position: absolute;
      left: -31px;
      transform: skew(-20deg);
    }
    p:after {
      content: '';
      width: 20px;
      height: 1.6em;
      background-color: #fff;
      display: block;
      position: absolute;
      top: 0;
      left: -42px;
      transform: rotateX(180deg);
      z-index: 10;
    }
  }

  .about-text{
    color:$borda;
    h2{
      margin:2em 0;
    }
  }
}

.contacts{
  p {
    margin-bottom:0;
    text-align:right;
  }
}

