doctype html
head
include ./../../parts/head.pug
  title UPNP - News
if isProd == 'prod'
  include ./../../parts/header-public-eng.pug
else
  include ./../../parts/header-public-eng-local.pug
main
  .loader
    img(src="../../img/loading.gif", alt="")
  .container.main-container.py-3
    .row.news-row-heading.py-2
      .col.title
        p.mb-0
          span News
if isProd == 'prod'
  include ./../../parts/footer-public-eng.pug
else
  include ./../../parts/footer-public-eng-local.pug
script.
  function toOneNews(id) {
    window.location = "/public/news/"+id
  }
