doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
  link(rel="icon" href="img/favicon.ico" type="image/x-icon")
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.10/css/all.css', integrity='sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg', crossorigin='anonymous')
  title UPNP - Vesti
if isProd == 'prod'
  include ./../../parts/header-public-srb.pug
else
  include ./../../parts/header-public-srb-local.pug
main#app
  .container.main-container.py-3
    .row.news-row-heading.py-2
      .col.title
        p.mb-0
          span Vesti

if isProd == 'prod'
  include ./../../parts/footer-public-srb.pug
else
  include ./../../parts/footer-public-srb-local.pug
script.
  function toSingleNews() {
  window.location = "single-news.html"
  }
