.about-us {
  background-color:$tamnija-krem;
  color:#fff;
  font-style: italic;
  text-justify:both;
  font-size:75%;
  p {
    vertical-align: middle;
    display: table-cell;
    padding-top: 2em;
    
  }
  .highlighted{
    color:$borda;
  }

  .logo-beli img{
    width: auto;
    margin: auto;
    @include breakpoint(sm){
      width:75%;
    }
  }
  .bout-text-container{
    height:13em;
    @include breakpoint(md){
      height:initial;
    }
    .relative{
      position: relative;
      top:4em;
      @include breakpoint(md){
        top: 6em;
      }
    }

  }

}