.donate-banner{
  background-color: $borda;
  color:#fff;
  overflow:hidden;
  h3 {
    font-size:2em;
  }
  p {
    font-size:75%;
  }
  img#box{
    transform: rotate(-20deg);
    position: relative;
    width:100%;
    top: 27px;
  }

  .custom-block-banner{
    border:2px solid #fff;
    letter-spacing: 4px;
  }
}

hr.custom-hr{
  margin:0;
  padding: 1%;
  background-color:$borda;
}