header {
  box-shadow: 2px 2px 2px #ddd;
  nav.row {
    padding: 1em 0;
    ul {
      padding:0;
      margin:0;
      list-style-type: none;
      padding: 1em 0;
      li {
        display:inline-block;
        color: $svelija-krem;
        font-weight: 800;
        font-style: italic;
        a {
          @extend %not-link;
          &:hover{
            color: $svelija-krem;
          }
          color: $borda;
        }
      }
    }
    img#logo{
      width:100%;
    }
  }
}