header {
  box-shadow: 2px 2px 2px #ddd;
  overflow: hidden;
  nav.row {
    padding: 1em 0;
    ul {
      padding:0;
      margin:0;
      list-style-type: none;
      padding: 1em 0;
      li {
        display:inline-block;
        color: $svelija-krem;
        font-weight: 800;
        text-transform: uppercase;
        // font-style: italic;
        a {
          @extend %not-link;
          &:hover{
            color: $svelija-krem;
          }
          color: $borda;
          &.active{
            color:$svelija-krem;
          }
        }
      }
      
    }
    .lang{
      position: absolute;
      right: -68%;
      img{
        width: 3.5%;
      }
      a{
        color: $borda;
        font-weight:600;
        &:hover{
          text-decoration:none;
          
        }
      }
    }
    img#logo{
      width:52%;
      transition:all 1s ease 0s;
      &:hover{
        transform: rotateX(150deg);
      }
    }
  }
}

// #f1_container {
//   position: relative;
//   margin: 10px auto;
//   width: 450px;
//   height: 281px;
//   z-index: 1;
// }
// #f1_container {
//   perspective: 1000;
// }
// #f1_card {
//   width: 100%;
//   height: 100%;
//   transform-style: preserve-3d;
//   transition: all 1.0s linear;
// }
// #f1_container:hover #f1_card {
//   transform: rotateX(180deg);
//   box-shadow: -5px 5px 5px #aaa;
// }
// .face {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   backface-visibility: hidden;
// }
// .face.back {
//   display: block;
//   transform: rotateX(180deg);
//   box-sizing: border-box;
//   padding: 10px;
//   color: white;
//   text-align: center;
//   background-color: #aaa;
// }