.info{
  text-align:right;
  margin-bottom:0;
  font-weight: 500;
  color:$borda;
  width:100%;
  display:block;  
}

.info-data {
  padding:2em 0;
}

.overflow-h {
  overflow:hidden;
}

.map{
  max-height:260px;
}