%not-link{
  &:hover{
    text-decoration: none;
  }
}

p.strap{
  span{
    position:relative;
    z-index:9;
    color:#fff;
  }
  display: inline-block;
  position: absolute;
  z-index: 9999;
  top: 10%;
}

p.strap-main{
  span{
    position:relative;
    z-index:9;
    color:#fff;
    padding-left: 0.5em;
  }
  display: inline-block;
  position: absolute;
  font-size:2em;
  z-index: 9999;
  top: 10%;
}


p.strap-reverse{
  padding:0 !important;
  span{
    position:relative;
    z-index:9;
    color:#fff;
    padding-left: 0.5em;
  }
  display: inline-block;
  position: absolute;
  font-size:1.4em;
  // z-index: 9999;
  top: 1.4em;
  right: .9em;
}

p.strap-reverse:before{
  content: '';
  width: 130%;
  height:100%;
  background-color: $borda;
  display: block;
  position: absolute;
  right: -31px;
  transform:skew(20deg);
}

p.strap-main:before{
  content: '';
  width: 130%;
  height:100%;
  background-color: $borda;
  display: block;
  position: absolute;
  left: -31px;
  transform:skew(-20deg);
}

p.strap-reverse:after{
  content: '';
  width: 20px;
  height: 2em;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 0;
  right: -42px;
  // transform: rotateX(180deg);
  z-index: 10;
}

p.strap:before{
  content: '';
  width: 120px;
  height: 1.5em;
  background-color: $borda;
  display: block;
  position: absolute;
  left: -31px;
  transform:skew(-20deg);
}

p.strap:after{
  content: '';
  width: 20px;
  height: 2em;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 0;
  left: -42px;
  transform: rotateX(180deg);
  z-index: 10;
}