<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>UPNP - Album</title>
</head>

<body style="display:none;">
  <header>
    <div class="container">
      <nav class="row">
        <div class="col-3 d-flex align-items-center">
          <img src="img/logoupnp.svg" id="logo" class="" alt="Organization's Logo">
        </div>
        <div class="col d-flex align-items-center justify-content-end">
          <ul>
            <li>
              <a href="/news">Vesti</a>
            </li>
            <li>/</li>
            <li>
              <a href="/album">Galerija</a>
            </li>
            <li>/</li>
            <li>
              <a href="/volonteri">Volonteri</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <div class="container overflow-hidden">
      <div class="row">
        <div class="col heading-custom">
          <h2>Kreiraj Album</h2>
        </div>
      </div>
    </div>
    <div class="container main-container py-3">
      <div class="row volountieer-form">
        <div class="col">
          <h5>
            Album
          </h5>
          <hr>
          <div class="row">
            {% for image in album.images %}
            <div class="col-3 my-2">
              <div class="image-container">
                <img src="{{ image.url }}" class="w-100 mb-1" alt=""> {% if album.images|length > 2 %}
                <div class="text-center m-0">
                  <form action="/album/image/{{album.id}}" method="POST" class="d-inline">
                    <button class="btn btn-default btn-custom btn-delete-custom" type="submit">Izbrisi</button>
                  </form>
                </div>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
          {% if album.id is defined %}
          <div class="row">
            <div class="col-12">
              <div class="button-group text-center py-2">
                <form action="/album/upload/{{ album.id }}" method="POST" id="change-photo" enctype="multipart/form-data">
                  <input type="file" class="d-none" name="image" id="upload-form">
                  <button id="upload-button-form" class="btn btn-default">Postavi Novu Sliku</button>
                </form>
              </div>
            </div>
          </div>
          <hr> {% endif %} {% if album.id is defined %}
          <form class="form" action="/album/update/{{ album.id }}" method="POST" id="createForm" enctype="multipart/form-data">
            {% else %}
            <form class="form" action="/album/create" method="POST" id="createForm" enctype="multipart/form-data">
              {% endif %}

              <label for="title">Naslov</label>
              <div class="input-group">
                <input type="text" id="title" name="title" class="form-control" value="{{album.title}}">
              </div>
              <label for="english_title">Naslov na Engleskom</label>
              <div class="input-group">
                <input type="text" id="english_title" name="english_title" class="form-control" value="{{album.english_title}}">
              </div>
              {% if album.id is null %}
              <label for="upload">Slika</label>
              <div class="input-group">
                <input type="file" name="image" class="d-none" id="upload" accept="image/jpeg,image/png,image/jpg">
                <button class="btn btn-default" id="upload-button">Postavi Sliku</button>
                <p id="uploaded"></p>
              </div>
              {% endif %}

              <div class="question text-right">
                <button class="btn btn-default">{{ edit ? "Izmeni" : "Kreiraj" }}</button>
              </div>
            </form>

        </div>
      </div>
    </div>
    <div class="container overflow-hidden">
      <div class="row">
        <div class="col heading-custom-reverse">
          <p class="col-5">Ukoliko zelite da postanete nas donator/ka i raspitajte se o nacinma da nam se pridruzite, javite na mail adresu
            <strong>office@udruzenjepsihologanp.org</strong>
          </p>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="container">
      <div class="row m-0">
        <div class="col">
          Copyrights &copy; ZenShu 2018
        </div>
        <div class="col menu d-flex justify-content-end">
          <ul class="p-0">
            <li>
              <a href="#">Pocetna</a>
            </li>
            <li>
              <a href="#">O nama</a>
            </li>
            <li>
              <a href="#">Pitajte nas</a>
            </li>
            <li>
              <a href="#">Kontakt</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <div class="modal" tabindex="-1" role="dialog" id="dialog-box">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p class="text-center">Da li ste sigurni da zelite postaviti sliku ?</p>
          <p class="text-center">
            <button type="button" class="btn btn-primary" id="btn-submit-upload">Da</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>