doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title UPNP Sponzori

if isProd == 'prod'
  include ./../../parts/header-public-eng.pug
else
  include ./../../parts/header-public-eng-local.pug
main
  .container.main-container
    .row
      .col.main-pic.px-0
        h3 Main Title
        img(src='http://via.placeholder.com/950x480' alt='')
    .row
      .col-8.py-5
        h4 Some title not main one
        p.text-justify
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis inventore maxime nam architecto odit optio beatae, excepturi
          | asperiores cupiditate modi quidem obcaecati neque veniam vitae nobis culpa repellat? Ad, ab. Lorem ipsum dolor
          | sit amet, consectetur adipisicing elit. Dolorum amet quod odio minus ab, corrupti ipsum non expedita! Quia, totam.
          | Culpa corporis unde repellendus accusantium illo beatae voluptate aliquam omnis.
          br
          br
          |  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis inventore maxime nam architecto odit optio
          |             beatae, excepturi asperiores cupiditate modi quidem obcaecati neque veniam vitae nobis culpa repellat? Ad, ab.
          |             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum amet quod odio minus ab, corrupti ipsum non
          |             expedita! Quia, totam. Culpa corporis unde repellendus accusantium illo beatae voluptate aliquam omnis.
          br
          br
          |  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis inventore maxime nam architecto odit optio
          |             beatae, excepturi asperiores cupiditate modi quidem obcaecati neque veniam vitae nobis culpa repellat? Ad, ab.
          |             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum amet quod odio minus ab, corrupti ipsum non
          |             expedita! Quia, totam. Culpa corporis unde repellendus accusantium illo beatae voluptate aliquam omnis.
      .col-4.row.m-0.p-0
        .col-12.single-suggestion.px-0
          img(src='http://via.placeholder.com/950x480' alt='')
          h5 This is subsections
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti similique, officiis, quis sapiente vero quae incidunt qui!
        .col-12.single-suggestion.px-0
          img(src='http://via.placeholder.com/950x480' alt='')
          h5 This is subsections
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti similique, officiis, quis sapiente vero quae incidunt qui!
        .col-12.single-suggestion.px-0
          img(src='http://via.placeholder.com/950x480' alt='')
          h5 This is subsections
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti similique, officiis, quis sapiente vero quae incidunt qui!
footer
  .container
    .row.m-0
      .col
        | Copyrights &copy; ZenShu 2018
      .col.menu.d-flex.justify-content-end
        ul.p-0
          li
            a(href='#') Pocetna
          li
            a(href='#') O nama
          li
            a(href='#') Pitajte nas
          li
            a(href='#') Kontakt
script.
  // Open the Modal
  function openModal() {
  document.getElementById('myModal').style.display = "block";
  }
  // Close the Modal
  function closeModal() {
  document.getElementById('myModal').style.display = "none";
  }
  var slideIndex = 1;
  showSlides(slideIndex);
  // Next/previous controls
  function plusSlides(n) {
  showSlides(slideIndex += n);
  }
  // Thumbnail image controls
  function currentSlide(n) {
  showSlides(slideIndex = n);
  }
  function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {
  slideIndex = 1
  }
  if (n < 1) {
  slideIndex = slides.length
  }
  for (i = 0; i < slides.length; i++) {
  slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
  dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex - 1].style.display = "block";
  dots[slideIndex - 1].className += " active";
  captionText.innerHTML = dots[slideIndex - 1].alt;
  }
