.volountieer-form {
  hr{
    margin-top:0 !important;
  }
  .col{
    padding: 0 12em;
  }
  label {
    margin-bottom: 1px;
    font-weight:bold;
  }
  .wrapped{
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 10px;
    display:block;
    width:100%;
  }
  .input-group {
    margin-bottom: 10px;
  }
  input,
  textarea, select {
    border-radius: 0px !important;
    margin-bottom: 5px;
  }
  .question{
    margin-bottom:20px;
    p{
      margin-bottom:0;
    }
    label {
      font-weight:500;
    }

    button {
      &:hover {
        background-color:$borda;
        color:#fff;
      }
      &.btn-edit-custom:hover {
        background-color:skyblue;
        color:#fff;
      }
    
      &.btn-delete-custom:hover {
        background-color: rgb(255, 101, 101);
        color:#fff;
      }
    }
  }
}