doctype html
head
include ./../../parts/head.pug
  title UPNP - Donors and Partners
if isProd == 'prod'
  include ./../../parts/header-public-eng.pug
else
  include ./../../parts/header-public-eng-local.pug
main
  .loader
    img(src="../../img/loading.gif", alt="")
  .container.overflow-hidden
    .row
      .col.heading-custom
        h2 DONORS AND PARTNERS
  .container.main-container
    .row.patrions
      .col-md-3.col-4
        img(src='img/1.png' alt='')
      .col-md-3.col-4
        img(src='img/2.png' alt='')
      .col-md-3.col-4
        img(src='img/3.png' alt='')
      .col-md-3.col-4
        img(src='img/4.png' alt='')
      .col-md-3.col-4
        img(src='img/5.png' alt='')
      .col-md-3.col-4
        img(src='img/6.png' alt='')
      .col-md-3.col-4
        img(src='img/7.png' alt='')
      .col-md-3.col-4
        img(src='img/8.png' alt='')
      .col-md-3.col-4
        img(src='img/9.png' alt='')
      .col-md-3.col-4
        img(src='img/10.png' alt='')
      .col-md-3.col-4
        img(src='img/11.png' alt='')
      .col-md-3.col-4
        img(src='img/12.png' alt='')
      .col-md-3.col-4
        img(src='img/13.png' alt='')
      .col-md-3.col-4
        img(src='img/14.png' alt='')
      .col-md-3.col-4
        img(src='img/15.png' alt='')
      .col-md-3.col-4
        img(src='img/16.png' alt='')
      .col-md-3.col-4
        img(src='img/17.png' alt='')
      .col-md-3.col-4
        img(src='img/18.png' alt='')
      .col-md-3.col-4
        img(src='img/19.png' alt='')
      .col-md-3.col-4
        img(src='img/20.png' alt='')
      .col-md-3.col-4
        img(src='img/21.png' alt='')
      .col-md-3.col-4
        img(src='img/22.png' alt='')
      .col-md-3.col-4
        img(src='img/23.png' alt='')
      .col-md-3.col-4
        img(src='img/24.png' alt='')
  .container.overflow-hidden
    .row
      .col.heading-custom-reverse
        p.col-md-5.col-12
          | If you want us to become a donor and ask for a way to join us, please email us
          strong office@udruzenjepsihologanp.org|udruzenje.psihologa.np@gmail.com
if isProd == 'prod'
  include ./../../parts/footer-public-eng.pug
else
  include ./../../parts/footer-public-eng-local.pug
