.contact-form {
  label{
    margin-bottom:1px;
  }
  .input-group {
    margin-bottom: 10px;
  }
  input, textarea {
    border-radius:0px !important;
    margin-bottom:5px;
  }

  .buton-container{
    text-align:right;
    margin:2% 0;
    button {
      &:hover {
        background-color:$borda;
        color:#fff;
      }
    }
  }
}