<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>UPNP - News Info</title>
</head>

<body style="display:none;">
  <header>
    <div class="container">
      <nav class="row">
        <div class="col-3 d-flex align-items-center">
          <img src="img/logoupnp.svg" id="logo" class="" alt="Organization's Logo">
        </div>
        <div class="col d-flex align-items-center justify-content-end">
          <ul>
            <li>
              <a href="/news">Vesti</a>
            </li>
            <li>/</li>
            <li>
              <a href="/album">Galerija</a>
            </li>
            <li>/</li>
            <li>
              <a href="/projects">Projekti</a>
            </li>
            <li>/</li>
            <li>
              <a href="/volonteri">Volonteri</a>
            </li>
            <li>/</li>
            <li class="logout">
              <a href="/logout"> <i class="fas fa-sign-out-alt"></i>Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <main>
    <div class="container overflow-hidden">
      <div class="row">
        <div class="col heading-custom">
          <h2>Kreiraj</h2>
        </div>
      </div>
    </div>
    <div class="container main-container py-3">
      <div class="row volountieer-form">
        <div class="col">
          <h5>Post</h5>

          <hr> {% if news.id is defined %}
          <div class="col-12">
            <img src="{{ news.images.url }}" class="w-100" alt="">
            <div class="button-group text-center py-2">
              <form action="/news/image/{{ news.id }}" method="POST" id="change-photo" enctype="multipart/form-data">
                <input type="file" class="d-none" name="image" id="upload-form">
                <button id="upload-button-form" class="btn btn-default">Postavi Novu Sliku</button>
              </form>
            </div>
          </div>

          <hr>
          <form class="form" action="/news/update/{{ news.id }}" method="POST" id="createForm" enctype="multipart/form-data">
            {% else %}
            <form class="form" action="/news/create" method="POST" id="createForm" enctype="multipart/form-data">
              {% endif %}
              <label for="title">Naslov</label>
              <div class="input-group">
                <input type="text" id="title" name="title" class="form-control" value="{{news.title}}">
              </div>
              <label for="content">Sadrzaj</label>
              <div class="input-group">
                <textarea rows="9" name="content" id="content" class="form-control">{{news.content}}</textarea>
              </div>
              {% if news.images.url is null %}
              <label for="upload">Slika</label>
              <div class="input-group">
                <input type="file" name="image" class="d-none" id="upload">
                <button class="btn btn-default" id="upload-button">Postavi Sliku</button>
                <p id="uploaded"></p>
              </div>
              {% endif %}
              <label for="category">Kategorija</label>
              <div class="input-group">
                <select name="category" class="form-control">
                  <option value="">
                    Odaberite Tip Posta
                  </option>
                  <option value="projekt" {% if news.category=='projekt' %} selected="selected" {% endif %}>
                    Projekt
                  </option>
                  <option value="blog" {% if news.category=='blog' %} selected="selected" {% endif %}>
                    Blog
                  </option>
                  <option value="vest" {% if news.category=='vest' %} selected="selected" {% endif %}>
                    Vest
                  </option>
                </select>
              </div>
              <label for="language">Jezik</label>
              <div class="input-group">
                <select id="language" name="language" class="form-control">
                  <option value="">
                    Odaberite Jezik
                  </option>
                  <option value="serbian" {% if news.language=='serbian' %} selected="selected" {% endif %}>
                    Serbian
                  </option>
                  <option value="english" {% if news.language=='english' %} selected="selected" {% endif %}>
                    English
                  </option>
                </select>
              </div>
              <div class="question text-right">
                <button class="btn btn-default" type="submit">{{ edit ? "Izmeni" : "Kreiraj" }}</button>
            </form>

            {% if news.id is defined %}
            <form action="/news/delete/{{ news.id }}" method="post" class="d-inline" id="delete-form">
              <button class="btn btn-default btn-custom btn-delete-custom" type="submit">Izbrisi</button>
            </form>
            {% endif %}
            </div>

        </div>
      </div>
    </div>
    <div class="container overflow-hidden">
      <div class="row">
        <div class="col heading-custom-reverse">
          <p class="col-5">Ukoliko zelite da postanete nas donator/ka i raspitajte se o nacinma da nam se pridruzite, javite na mail adresu
            <strong>office@udruzenjepsihologanp.org</strong>
          </p>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="container">
      <div class="row m-0">
        <div class="col">
          Copyrights &copy; ZenShu 2018
        </div>
        <div class="col menu d-flex justify-content-end">
          <ul class="p-0">
            <li>
              <a href="#">Pocetna</a>
            </li>
            <li>
              <a href="#">O nama</a>
            </li>
            <li>
              <a href="#">Pitajte nas</a>
            </li>
            <li>
              <a href="#">Kontakt</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
  <div class="modal" tabindex="-1" role="dialog" id="dialog-box">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p class="text-center">Da li ste sigurni da zelite promeniti sliku ?</p>
          <p class="text-center">
            <button type="button" class="btn btn-primary" id="btn-submit-upload">Da</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn-delete-upload">Ne</button>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="loading-box">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <img src="img/loading.gif" alt="Loading" class="d-block m-auto">
          <p class="text-center">Loading...</p>
        </div>
      </div>
    </div>
  </div>


</body>

</html>